---
settings:
  delay: 10
devices:
{% for dash in amazondash_devices %}
  {{ dash.hwaddr }}:
    name: {{ dash.name | default('amazon-dash', true) }}
    cmd: {{ dash.cmd }}
    user: {{ dash.user }}
{% endfor %}
